.demo-tooltip-area {
  height: 500px;
  max-height: 100%;
  border: 1px dashed blue;
  box-sizing: border-box;
}

.demo-tooltip-area__box {
  border: 1px dotted red;
  width: 10rem;
  height: 10rem;
  background: rgba(255, 0, 0, 0.1);
}

.demo-tooltip-area__box--static {
  position: static;
}

.demo-tooltip-area__box--relative {
  position: relative;
  left: 15rem;
}

.demo-tooltip-area__box--absolute {
  position: absolute;
  left: 30rem;
}

.demo-tooltip-area__box--fixed {
  position: fixed;
  left: 50%;
  top: 50%;
}
