<div class="demo-tooltip-area">
  <ta-tooltip-area
    [positionFixed]="positionFixed"
    [(popupFlag)]="popupFlag">
    <ta-tooltip-area-container>

      <div (click)="popupFlag = 'open'; content = 'static'" class="demo-tooltip-area__box demo-tooltip-area__box--static">static</div>
      <div (click)="popupFlag = 'open'; content = 'relative'" class="demo-tooltip-area__box demo-tooltip-area__box--relative">relative</div>
      <div (click)="popupFlag = 'open'; content = 'absolute'" class="demo-tooltip-area__box demo-tooltip-area__box--absolute">absolute</div>
      <div (click)="popupFlag = 'open'; content = 'fixed'" class="demo-tooltip-area__box demo-tooltip-area__box--fixed">fixed</div>

      <div (click)="popupFlag = 'open'; content = 'relative'" class="demo-tooltip-area__box demo-tooltip-area__box--relative">
        <div (click)="popupFlag = 'open'; content = 'absolute'" class="demo-tooltip-area__box demo-tooltip-area__box--absolute">
          RELATIVE + ABSOLUTE
        </div>
      </div>

    </ta-tooltip-area-container>
    <ta-tooltip-area-popup>

      <ta-tooltip-menu (close)="popupFlag = 'close'">
        <ta-tooltip-menu-item>123 456 789 456 123</ta-tooltip-menu-item>
        <ta-tooltip-menu-item>Hello world</ta-tooltip-menu-item>
        <ta-tooltip-menu-item>Lorem ipsum</ta-tooltip-menu-item>
        <ta-tooltip-menu-item>blabla blabla</ta-tooltip-menu-item>
      </ta-tooltip-menu>

    </ta-tooltip-area-popup>
  </ta-tooltip-area>

  <button (click)="popupFlag = 'open'">Open</button>
  <button (click)="popupFlag = 'close'">Close</button>

  <button (click)="positionFixed = !positionFixed">positionFixed {{positionFixed}}</button>
</div>

<router-outlet></router-outlet>
