<div class="app-container">
  <h1 class="app-title">Ng Tooltip Area</h1>
  <div class="app-content">

    <ta-tooltip-area
      [positionFixed]="positionFixed"
      [(popupFlag)]="popupFlag">
      <ta-tooltip-area-container>

        <div (click)="openTooltip('Static')" class="app-box app-box--static">Static</div>
        <div (click)="openTooltip('Relative')" class="app-box app-box--relative">Relative</div>
        <div (click)="openTooltip('Absolute')" class="app-box app-box--absolute">Absolute</div>

        <div
          (click)="openTooltip('Fixed')"
          class="app-box app-box--fixed"
          [class.app-box--fixed-fail]="!positionFixed"
        >Fixed</div>

        <div class="app-box app-box--relative">
          ...
          <div (click)="openTooltip('Rel &gt; Abs')" class="app-box app-box--absolute">
            Rel &gt; Abs
          </div>
        </div>

      </ta-tooltip-area-container>
      <ta-tooltip-area-popup>

        <ta-tooltip-menu (close)="popupFlag = 'close'">
          <ta-tooltip-menu-item>Content: "{{ content }}"</ta-tooltip-menu-item>
          <ta-tooltip-menu-item>Hello world</ta-tooltip-menu-item>
        </ta-tooltip-menu>

      </ta-tooltip-area-popup>
    </ta-tooltip-area>

    <div class="app-actions">
      <button (click)="popupFlag = 'open'">Open</button>
      <button (click)="popupFlag = 'close'">Close</button>
      <button (click)="positionFixed = !positionFixed">Position {{ positionFixed ? 'fixed' : 'absolute' }}</button>
    </div>

    <div class="app-actions-msg" *ngIf="!positionFixed">
      Unable to calculate the tooltip position for "fixed" container.
    </div>


  </div>
</div>

<router-outlet></router-outlet>
